<launch>

  <arg name="HRP2" default="false" />
  <arg name="FIXED_FRAME" default="odom" if="$(arg HRP2)" />
  <arg name="FIXED_FRAME" default="camera_link" unless="$(arg HRP2)" />

  <node name="world_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 world $(arg FIXED_FRAME) 10">
  </node>

  <arg name="MANAGER" value="nodelet_manager2" />
  <node name="$(arg MANAGER)"
        pkg="nodelet"
        type="nodelet"
        args="manager" />

  <node name="fback_flow"
        pkg="nodelet" type="nodelet"
        args="load fback_flow/fback_flow $(arg MANAGER)">
    <remap from="image" to="/camera/rgb/image_rect_color" />
    <rosparam>
      use_camera_info: false
    </rosparam>
  </node>
  <node name="flow_velocity_thresholding"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/FlowVelocityThresholding $(arg MANAGER)">
    <remap from="~input/flows" to="fback_flow/flows" />
    <remap from="~input/camera_info" to="/camera/rgb/camera_info"/>
    <rosparam>
      use_camera_info: true
      window_size: 16
      threshold: 5
    </rosparam>
  </node>
  <!--
  <node name="erode_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ErodeMaskImage $(arg MANAGER)">
    <remap from="~input" to="flow_velocity_thresholding/output" />
    <rosparam>
      size: 10
    </rosparam>
  </node>
  -->
  <node name="concave_hull_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ConcaveHullMaskImage $(arg MANAGER)">
    <remap from="~input" to="flow_velocity_thresholding/output" />
  </node>
  <node name="apply_mask_image_moving_obj"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ApplyMaskImage $(arg MANAGER)">
    <remap from="~input" to="/camera/rgb/image_rect_color" />
    <remap from="~input/mask" to="concave_hull_mask_image/output" />
    <rosparam>
      approximate_sync: false
      queue_size: 100
      clip: false
    </rosparam>
  </node>
  <node name="filter_mask_with_size"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/FilterMaskImageWithSize $(arg MANAGER)"
        output="screen">
    <remap from="~input" to="concave_hull_mask_image/output" />
    <rosparam>
      use_reference: false
      approximate_sync: false
      min_size: 0.05
      max_size: 0.8
    </rosparam>
  </node>
  <node name="apply_mask_image_filtered"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ApplyMaskImage $(arg MANAGER)">
    <remap from="~input" to="/camera/rgb/image_rect_color" />
    <remap from="~input/mask" to="filter_mask_with_size/output" />
    <rosparam>
      approximate_sync: false
      queue_size: 100
      clip: false
    </rosparam>
  </node>
  <!--
  <node name="mask_to_polygon"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/MaskImageToRect $(arg MANAGER)">
    <remap from="~input" to="filter_mask_with_size/output" />
  </node>
  <node name="consensus_tracking"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_perception/ConsensusTracking $(arg MANAGER)">
    <remap from="~input" to="/camera/rgb/image_rect_color" />
    <remap from="~input/polygon" to="mask_to_polygon/output" />
    <rosparam>
      approximate_sync: false
      queue_size: 30
    </rosparam>
  </node>
  <node name="apply_mask_image_tracking"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ApplyMaskImage $(arg MANAGER)">
    <remap from="~input" to="/camera/rgb/image_rect_color" />
    <remap from="~input/mask" to="consensus_tracking/output/mask" />
    <rosparam>
      approximate_sync: false
      queue_size: 30
      clip: false
    </rosparam>
  </node>
  -->
  <!--
  <node name="passthrough_z"
        pkg="nodelet" type="nodelet"
        args="load pcl/PassThrough $(arg MANAGER)">
    <remap from="~input" to="/camera/depth_registered/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0
      filter_limit_max: 0.8
      keep_organized: true
    </rosparam>
  </node>
  <node name="point_cloud_to_mask_image"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/PointCloudToMaskImage $(arg MANAGER)">
    <remap from="~input" to="passthrough_z/output" />
  </node>
  <node name="convex_hull_mask_image_near_obj"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ConvexHullMaskImage $(arg MANAGER)">
    <remap from="~input" to="point_cloud_to_mask_image/output" />
  </node>
  <node name="multiply_mask"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/MultiplyMaskImage $(arg MANAGER)">
    <remap from="~input/src1" to="consensus_tracking/output/mask" />
    <remap from="~input/src2" to="convex_hull_mask_image_near_obj/output" />
    <rosparam>
      approximate_sync: true
      queue_size: 50
    </rosparam>
  </node>
  <node name="apply_mask_image_tracking"
        pkg="nodelet" type="nodelet"
        args="load jsk_perception/ApplyMaskImage $(arg MANAGER)">
    <remap from="~input" to="/camera/rgb/image_rect_color" />
    <remap from="~input/mask" to="multiply_mask/output" />
    <rosparam>
      approximate_sync: false
      queue_size: 30
      clip: false
    </rosparam>
  </node>
  -->

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find continuous_teaching)/rvizconfig/rgb.rviz">
  </node>

  <node name="data_collection_server"
        pkg="jsk_data" type="data_collection_server.py"
        output="screen">
    <rosparam>
      with_request: false
      save_dir: ~/.ros/continuous_teaching/capture_moving_object
      topics:
        - name: /camera/rgb/image_rect_color
          msg_class: sensor_msgs/Image
          fname: image.jpg
          savetype: ColorImage
        - name: filter_mask_with_size/output
          msg_class: sensor_msgs/Image
          fname: mask.jpg
          savetype: ColorImage
        - name: apply_mask_image_filtered/output
          msg_class: sensor_msgs/Image
          fname: image_masked.jpg
          savetype: ColorImage
    </rosparam>
  </node>

</launch>
