<launch>
  <arg name="filename" default="$(find continuous_teaching)/data/teach_cola.bag" />
  <arg name="options" default="--clock --loop" />
  <param name="/use_sim_time" value="true" />

  <node name="rosbag_play"
        pkg="rosbag"
        type="play"
        args="$(arg filename) $(arg options)" />

  <param name="robot_description"
         textfile="$(find hrpsys_ros_bridge_tutorials)/models/$(optenv ROBOT)_WH_SENSORS.urdf" />

  <arg name="MANAGER" value="nodelet_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet"
        type="nodelet"
        args="manager" />

  <group ns="/camera/rgb">
    <node name="republish_color"
          pkg="image_transport" type="republish"
          args="compressed raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
    <node name="rectify"
          pkg="nodelet" type="nodelet"
          args="load image_proc/rectify /$(arg MANAGER)">
      <remap from="image_mono" to="image_raw" />
      <remap from="image_rect" to="image_rect_color" />
    </node>
  </group>

  <node name="resize_image_color"
        pkg="nodelet" type="nodelet"
        args="load resized_image_transport/ImageResizer $(arg MANAGER)">
    <remap from="~input/camera_info" to="/camera/rgb/camera_info" />
    <remap from="~input/image" to="/camera/rgb/image_rect_color" />
    <remap from="~output/camera_info" to="/camera/rgb/half/camera_info" />
    <remap from="~output/image" to="/camera/rgb/half/image_rect_color" />
    <rosparam>
      use_messages: false
      use_camera_info: true
      resize_scale_x: 0.5
      resize_scale_y: 0.5
      interpolation: LINEAR
    </rosparam>
  </node>


  <group ns="/camera/depth_registered">
    <node name="republish_depth"
          pkg="image_transport" type="republish"
          args="compressedDepth raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
    <node name="rectify"
          pkg="nodelet" type="nodelet"
          args="load image_proc/rectify /$(arg MANAGER)">
      <remap from="image_mono" to="image_raw" />
    </node>
  </group>
  <group ns="/camera">
    <node name="point_cloud_xyzrgb"
          pkg="nodelet" type="nodelet"
          args="load depth_image_proc/point_cloud_xyzrgb /$(arg MANAGER)">
      <rosparam>
        queue_size: 100
      </rosparam>
    </node>
  </group>

</launch>
