<launch>
  <arg name="filename" default="$(find continuous_teaching)/data/teach_cola.bag" />
  <arg name="options" default="--clock --loop" />
  <param name="/use_sim_time" value="true" />

  <node name="rosbag_play"
        pkg="rosbag"
        type="play"
        args="$(arg filename) $(arg options)" />

  <arg name="MANAGER" value="nodelet_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet"
        type="nodelet"
        args="manager" />

  <group ns="/camera/rgb">
    <node name="republish_color"
          pkg="image_transport" type="republish"
          args="compressed raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
    <node name="rectify"
          pkg="nodelet" type="nodelet"
          args="load image_proc/rectify /$(arg MANAGER)">
      <remap from="image_mono" to="image_raw" />
      <remap from="image_rect" to="image_rect_color" />
    </node>
  </group>

  <group ns="/camera/depth_registered">
    <node name="republish_depth"
          pkg="image_transport" type="republish"
          args="compressedDepth raw">
      <remap from="in" to="image_raw" />
      <remap from="out" to="image_raw" />
    </node>
    <node name="rectify"
          pkg="nodelet" type="nodelet"
          args="load image_proc/rectify /$(arg MANAGER)">
      <remap from="image_mono" to="image_raw" />
    </node>
  </group>
  <group ns="/camera">
    <node name="point_cloud_xyzrgb"
          pkg="nodelet" type="nodelet"
          args="load depth_image_proc/point_cloud_xyzrgb /$(arg MANAGER)">
      <rosparam>
        queue_size: 100
      </rosparam>
    </node>
  </group>

</launch>
